.main-box{
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;

    padding: 25px;

    width: 100%;

    color: #000;

    margin-bottom: 50px;
}

.main-box .topLine{
    display: flex;
    justify-content: space-between;

    margin-bottom: 22px;
}

.topLine .date{
    color: #717171
}

.main-box .title{
    color: #1A202C;
    font-size: 26px;

    text-align: left;
    margin-bottom: 8px;
}

.main-box .text{
    color: #717171;
    font-size: 18px;

    text-align: left;
}