.search-box{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;

    width: 100%;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 7.8vh;
    margin-bottom: 4.3vh;
}

.search-box .icon{
    padding-left: 20px;
}

.search-box .text{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.125rem;
    opacity: 0.5;
    color: #FFF;

    width: 100%;
    height: 100%;

    background-color: transparent;

    padding-left: 20px;
}

.search-box .text:focus{
    outline: none;
}